.container {
  display: flex;
  flex-direction: row;
  border: 1px solid #000;
  margin: 3.6rem 2.4rem;
}

.left-container {
  border-right: 1px solid #000;
  width: 40%;
  padding: 0 4.5rem 2.4rem;
}

.right-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  margin-top: 30px;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
}

.title span {
  font-size: 1.6rem;
  font-weight: bold;
}

/* =========================== TO DO LIST ========================= */

.list-item-container {
  padding: 0 4.5rem;
}

.search-input {
  width: 100%;
}

.search-input input {
  width: 100%;
  height: 3.2rem;
  padding-left: 1rem;
}

.bulk {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #000;
  background-color: #ccc;
}

.bulk .button button {
  margin-right: 1.8rem;
  height: 2.8rem;
  width: 9.5rem;
  border: none;
  color: #fff;
  border-radius: 5px;
}

.bulk .button button:hover {
  cursor: pointer;
}

.bulk .button button:first-child {
  background-color: #00bcd4;
}

.bulk .button button:last-child {
  background-color: #d9534f;
}

.bulk-action span {
  font-size: 1.6rem;
  opacity: 0.7;
  margin: 0 18px;
}

.button button:hover {
  cursor: pointer;
  opacity: 0.7;
}

@media (max-width: 400px) {
  .button {
    width: 100px;
    flex-direction: row;
  }

  .bulk .button button {
    margin-right: 0;
    height: 1.6rem;
    width: 6.5rem;
  }
}

/* Mobile */
@media (max-width: 739px) {
  .container {
    flex-direction: column;
    height: 100%;
  }

  .left-container {
    border-right: none;
    width: 100%;
    border-bottom: 1px solid #000;
  }

  .right-container {
    width: 100%;
  }
}
