<form class="form-add">
  <input type="text" placeholder="Add new task..." />
  <div class="name-input"><span>Description</span></div>

  <textarea rows="4"></textarea>
  <div class="time-prio">
    <div class="time-prio-item">
      <div class="name-input"><span>Due Date</span></div>
      <input type="date" />
    </div>
    <div class="time-prio-item">
      <div class="name-input"><span>Piority</span></div>
      <select name="select" id="priority">
        <option value="Low">Low</option>
        <option value="Normal">Normal</option>
        <option value="High">High</option>
      </select>
    </div>
  </div>
  <div class="button-add">
    <button>Add</button>
  </div>
</form>
