<form class="form-add">
  <input
    id="title"
    type="text"
    placeholder="Add new task..."
    [(ngModel)]="task.title"
    name="title"
    #title="ngModel"
    required
  />
  <div
    *ngIf="title.invalid && (title.dirty || title.touched) && task.id != 0"
    class="alert"
  >
    <div *ngIf="title.errors?.required">Name is required.</div>
  </div>

  <div class="name-input">
    <span>Description</span>
  </div>

  <textarea
    rows="4"
    [(ngModel)]="task.description"
    name="description"
  ></textarea>
  <div class="time-prio">
    <div class="time-prio-item">
      <div class="name-input"><span>Due Date</span></div>
      <input
        type="date"
        [min]="currentDate"
        [(ngModel)]="task.date"
        name="date"
      />
    </div>
    <div class="time-prio-item">
      <div class="name-input"><span>Piority</span></div>
      <select
        name="select"
        id="priority"
        [(ngModel)]="task.piority"
        name="piority"
      >
        <option value="Low">Low</option>
        <option value="Normal">Normal</option>
        <option value="High">High</option>
      </select>
    </div>
  </div>
  <div class="button-add">
    <button (click)="onSubmit()" [disabled]="title.errors?.required">
      {{ isUpdate ? "Update" : "Add" }}
    </button>
  </div>
</form>
